.container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: pink;
  padding: 10px;
}
.container div {
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}
