* {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 20px;
}

center{
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Mobile first */
.container > * {
  border: 1px solid rgb(179, 142, 179);
  background-color: rgb(233, 174, 220);
  padding: 10px;
  grid-column: col-start / span 12;
}

@media (min-width: 576px) {
  .sidebar {
    grid-column: col-start / span 3;
    grid-row: 3;
    text-align: center;
    font-size: large;
  }
  .ads {
    grid-column: col-start / span 3;
    text-align: center;
    font-size: large;
  }
  .content, .footer {
    grid-column: col-start 4 / span 9;
    text-align: center;
    font-size: large;
  }
  nav ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: large;
  }
}

@media (min-width: 768px) {
  .nav {
    grid-column: col-start / span 2;
    grid-row: 2 / 4;
  }
  .content {
    grid-column: col-start 3 / span 8;
    grid-row: 2 / 4;
  }
  .sidebar {
    grid-column: col-start 11 / span 2;
  }
  .ads {
    grid-column: col-start 11 / span 2;
  }
  .footer {
    grid-column: col-start / span 12;
  }
  nav ul {
    flex-direction: column;
  }
}

.container2 {
  display: grid;
  grid-template-areas: 'myHeader myHeader myHeader myHeader myHeader';
  background-color: dodgerblue;
  padding: 5px;
  gap: 5px;
}

.container2 div {
  background-color: #f1f1f1;
  color:#000;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.item1 {
  grid-area: myHeader;
}