body {
  background-color: lightblue;
  margin: 0;
}

* {
  box-sizing: border-box;
}

p {
  color: white;
  margin-left: 20px;
}

h1 {
  color: white;
  margin-left: 20px;
}

.center-text {
  text-align: center;
}

.bg-image {
  background-image: url("https://wallpapercave.com/wp/1wcGMiW.jpg");
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100vh; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}