body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}

.center-text {
text-align: center;
}

.bg-image {
  /* The image used */
  background-image: url("https://wallpaperaccess.com/full/471114.jpg");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}